
 /* Universal Box Sizing - width & height include all padding/margins */
* {
    box-sizing: border-box;
}

/* Style the entire body */
body {
  margin: 0;
  font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Style the top navigation bar */
#topnav {
    overflow: hidden;
    background-color: #ffffff;
    border-bottom:2px solid #cccccc;
    height:90px;
}

/* Style the top bar Name */
#name {
    float: left;
    margin-left: 202px;
    height:90px;
    width: 240px;
    padding:30px 0;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:2em;

}
/* Style the top bar links */
#navlist {
    margin-right:200px;
}
/* Style navlist links */
#navlist a {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 35px 15px;
    text-decoration: none;
}

/* Change navlist link color on hover */
#navlist a:hover {
    background-color: #4aaaa5;
    color: white;
}

/* Style the container */
#container {
    background-image: url('../images/spiration_dark.png');
    background-repeat: repeat;
    padding:20px;
    height: 570px; 
    width:100%
}
 /* Style Content div height/width/color */
#content {
    background-color: #ffffff;
    width:960px;
    height:480px;
    margin:0 auto;
    border: 2px solid #ddd;
}
 /* Style Content Header */
#contentheader {
    height:100px;
    width:900px;
    margin:0 auto;
    padding: 35px 0 35px 10px;
    text-align: left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
}
/* Style profile picture */
.Andrew {
    float:left;
    width:170px;
    padding-right:15px;
}

/* Style Content body */
#contentbody {
    height:370px;
    width:930px;
    margin:0 auto;
    padding:30px;
}

/* Style paragraphs */
p {
    font-size:1em;
    line-height:2;
}


/* Style footer */
#footer {
    background-color: #666666;
    height:50px;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    border-top:7px solid #4aaaa5;
    text-align: center;
    font-size: 12px;
}

/* Style footer copyright */
.footercopy {
    padding-top:25px;
}